<!DOCTYPE html>
<html>
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="UTF-8">
        <title>@Page.Title</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        @RenderSection("head", required: false)
    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
        <div id="page" class="group">
            <header>
                <p class="title">Zi Wang</p>
                <p>Undergrad student at Tsinghua University</p>
                <nav>
                    <ul>
                        @foreach (var contentPage in App.ContentPages) {
                            if (contentPage.Title == Page.Title) {
                                <li><a href="~/ContentPage/@contentPage.Id" title="@contentPage.Header" class="current">@contentPage.Header</a></li>
                            } else {
                                <li><a href="~/ContentPage/@contentPage.Id" title="@contentPage.Header">@contentPage.Header</a></li>
                            }
                        }
                    </ul>
                </nav>
            </header>
            <section>
                @RenderBody()
            </section>
        </div>
    </body>
</html>